<div class="col-md-4" *ngFor="let cita of citas">
  <div class="card text-center">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
      {{cita.Nombre}}
      <button class="btn btn-danger" (click)="deleteGame(cita.idCitas)">
        <i class="far fa-trash-alt"></i>
      </button>
    </div>
    <div class="card-body">
      <p>{{cita.Nombre}}</p>
  
      <a [routerLink]="['/citas/edit', cita.idCitas]" class="btn btn-info btn-block">
        MODIFICAR PACIENTE
      </a>
    </div>
  </div>
</div>