<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">CLINICA 2019</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

          <li class="nav-item active">
              <a class="nav-link" routerLink="/personal" routerLinkActive="active"><i class="fas fa-list"></i>ADMIN-PERSONAL</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/personal/add" routerLinkActive="active"><i class="fas fa-list"></i>REGISTRAR-PERSONAL</a>
              </li>
      


          <li class="nav-item active">
              <a class="nav-link" routerLink="/adminCitas" routerLinkActive="active"><i class="fas fa-list"></i>ADMIN-CITAS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/adminCitas/add" routerLinkActive="active"><i class="fas fa-list"></i>REGISTRAR-CITAS</a>
              </li>

        <li class="nav-item active">
          <a class="nav-link" routerLink="/pacientes" routerLinkActive="active"><i class="fas fa-list"></i>ADMIN-PACIENTES</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/pacientes/add" routerLinkActive="active"><i class="fas fa-list"></i>REGISTRAR-PACIENTES</a>
          </li>
  
          <li class="nav-item desactive">
              <a name="Boton" (click)="CerrarSesion()" class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fa fa-user"></i> CERRAR SESION</a>
            </li>
     
      </ul>
    </div>
  </nav>