<app-navigation></app-navigation>

<div class="col-md-8">
    <ul class="list-group">
      <li class="list-group-item active">HISTORIAL CLINICO DE PACIENTE</li>
      <li class="list-group-item">Nombre: {{historial.Nombre}}</li>
      <li class="list-group-item">Apellido Paterno: {{historial.ApellidoPaterno}}</li>
      <li class="list-group-item">Apellido Materno: {{historial.ApellidoMaterno}}</li>
      <li class="list-group-item">Correo electronico: {{historial.Correo}}</li>
      <li class="list-group-item">Numero de citas solicitadas: {{numCitas.NumCitas}}</li>

    </ul>
  
  </div>